<%- include("template/cabeceras", {tituloWeb: "Panel de Administracion  "}) %>

    <div class="container">
        pokemon <!-- Será el listado de pokemon-->
    </div>

<%- include("template/footer") %>