<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3307/simulacion?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">root123</property>
		<property name="hibernate.connection.password">root123</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.show_sql">false</property> <!-- Muestra la traducción sql -->
		<property name="hibernate.format_sql">false</property> <!--  Formatea ese sql -->
		<property name="hibernate.use_sql_comments">true</property> 
		<property name="hibernate.hbm2ddl.auto">create</property> <!-- crea el esquema de la base de datos -->
		<mapping class="modelos.Ubicacion" />
		<mapping class="modelos.Participante" />
		<mapping class="modelos.Evento" />
	</session-factory>
</hibernate-configuration>