<%- include("template/cabecera", {tituloWeb: 'Panel de administración'}) %>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayPokemon.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayPokemon.forEach(pokemon=> { %>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
<%- include("template/footer") %>